/* Body Styling */
body{
  background-color: #dcdac3;
  max-width: 100%;
}
/* Navigation styling */
nav{
  background-color: #CF1E1C;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Cambay", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  z-index: 10
}
/* Logo styling */
.logo{
  flex:1
}
.logo img{
  width: 5rem;
  height: 5rem;
  padding: 10px 10px;

}
.logo a{
  color: #f1faee;
  font-size: 1.7rem;
  text-decoration: none;
  transition: color 1.5s ease;
  display: flex;
  align-items: center;
}
.logo a:hover{
  color: yellow;
}

/* Navigation bar styling */
.nav-list{
  display: flex;
  margin-right: 2em;
  list-style: none;   
}

.nav-list li{
  padding: 10px 10px;
}

.nav-list a{
  color: #f1faee;
  font-size: 1.7rem;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  transition: color 1.5s ease;
}

.nav-list a:hover{
  color: yellow;
}

.toggle{
  font-size: 35px;
  display: none;
  position: absolute;
}
ion-icon{
  color:#f1faee;
  transition: color 1.5s ease;
}
ion-icon:hover {
  color: yellow;
}

@media screen and (max-width: 795px) {
  nav{
    display: block;
    position: fixed;
  }

  .nav-list{
    margin-top: 15px;
    display: none;
  }

  .nav-list.active, .toggle{
    display: block;
    padding-left: 62px;
  }

  .nav-list.active{
  }

  .toggle.move{
    bottom: 260px;
  }

  .toggle{
    position: absolute;
    right: 60px;
    bottom: 15px;
  }
}

/* Slider Styling */
.container{
  padding-top: 5.78rem;
  max-width: 100%;
}

.slider-wrapper{
  position: relative;
  max-width: 100%;
  scale: 100%;
}

.slider{
  display: flex;
  aspect-ratio: 21 / 9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate (-50%);
  z-index: 1;
}

.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #f1faee;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;
}

#slide-1{
  object-position: 50% 10%;
}

#slide-2{
  object-position: 50% 65%;
}

#slide-3{
  object-position: 50% 0%;
}


/* Countdown Styling */
.countdown-timer{
  font-family: "Convergence", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #f1faee;
  text-transform: uppercase;
  z-index: 5;
  position: absolute;
}